<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col footer-col-1">
      <h2 id="escribenos" class="footer-heading">Escríbenos</h2>
      <p><a href="mailto:info@makotosquad.com">info@makotosquad.com</a></p>
    </div>
    <div class="footer-col footer-col-2">
      <ul class="social-media-list">
        <li><a href="https://www.twitter.com/makotosquad"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> <span class="username">@makotosquad</span></a></li>
      </ul>
    </div>
  </div>
</footer>
