---
layout: default
---

<div class="home">
  <h1 class="page-heading">Makoto Squad</h1>

  <p>Makoto es una consultora especializada en el proceso de <strong>transformación digital</strong> de las organizaciones.</p>

  <p>Compartimos los principios y valores recogidos en el <a href="http://agilemanifesto.org/iso/es/manifesto.html">manifiesto agile</a> y <strong>adaptamos sus prácticas</strong> al contexto de cada organización. Esta sensibilidad nos permite empatizar con clientes de cualquier sector, tamaño o madurez tecnológica.</p>

  <h1 id="cuenta-con-nosotros-para">Cuenta con nosotros para...</h1>

  <ul>
    <li>Identificar la ineficiencia en los procesos y optimizar los flujos de trabajo de tu organización.</li>
    <li>Desarrollar un proyecto o producto digital. Te ayudamos en el proceso de definición y gestión de su construcción.</li>
  </ul>

  <h1 id="transformacion-digital">Transformación Digital</h1>

  <p>La forma de organizar el trabajo, la forma de satisfacer a los clientes, los canales de comunicación o las posibilidades que ofrece la tecnología están en constante movimiento. Entendemos que las organizaciones deben ser capaces de <strong>adaptarse a estos cambios</strong>.</p>

  <p>Ayudamos a tu organización a <strong>encontrar, diseñar y aplicar metodologías, procesos y productos digitales adaptados</strong> a su contexto para poder responder a los cambios. Basándonos en la <strong>transparencia, eliminando las ineficiencias de los procesos y fomentando la mejora continua</strong>.</p>
</div>
